# Node modules (if using JS)
node_modules/

# Python (if Django/Flask)
__pycache__/
*.pyc
.env

# XAMPP / local config files
config.php

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/